* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right top, #0080ff, #ff8040); 
}

.quiz {
    width: 700px;
    
    background: rgb(255, 255, 255);
    margin: 100px auto;
    padding: 20px;
    border: none;
    border-radius: 15px;
}



 h1 {
    text-align: center;
    
}

.intro {
    margin-top: 50px;
    height: 230px;
}

.intro p {
    text-align: center;
    margin-bottom: 10px;
    display: block;
}
.start-next {
    width: 220px;
    height: 40px;
    margin: 30px 220px 0px 220px;
    border-radius: 6px;
    background: rgb(0, 0, 255, 0.7);
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.start-next:hover, .check:hover:not([disabled])  {
    box-shadow: 0 0 7px blue;
}

.start-next:active {
    box-shadow: 0 0 15px #ff8040 inset;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    height: 200px;
}

.questions {
    display: none;
    margin-top: 10px;
}

.answer {
    height: 40px;
    background: white;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    text-align: left;
    padding-left: 20px;
    transition: all 0.3s;
    display: block;
}

.answer:hover:not([disabled]) {
    background: linear-gradient(to right top, rgb(0, 128, 255, 0.4), rgb(255, 128, 64, 0.4));
}

h2 {
    margin-bottom: 10px;
}

.answer-input {
    width: 40%;
    font-size: 1.2rem;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 255, 0.7);

}

.check {
    width: 150px;
    height: 30px;
    border-radius: 6px;
    background: rgb(0, 0, 255, 0.7);
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 15px;
}

.input-check {
    width: 600px;
    margin-left: 130px;
    margin-top: 70px;
    display: none;
}
